<h1 class="congrats-text text">Congratulations!</h1>
<!-- <img src="https://media.giphy.com/media/3o6ZtpBn77ojiB8RHO/giphy.gif" alt=""> -->
<div class="icon-container text">
  <div class="ideas-link">
  <a href="/browse" class="browse-link">
    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
    <br>View ideas</br>
  </a>
</div>
<div class="ideas-home">
  <a href="/" class="browse-link">
    <i class="fa fa-home" aria-hidden="true"></i>
    <br class="text">Home</br>
    </a>
  </div>
</div>
