
<div class="error__div">

  <a href='/'> <i class="fa fa-home" aria-hidden="true"></i> </a>

<h2 class="error__div--statuscode">{{ statusCode }}</h2>
<h2 class="error__div--message">{{ errorMessage }}</h2>
</div>
<!-- <div class="wrapper">
<img src="https://media.giphy.com/media/kYheYx5xjbkC4/giphy.gif" alt="">
</div> -->
