<i class="fa fa-lightbulb-o" aria-hidden="true"></i>



<a href="/new-idea"><button type="button" name="btn_haveidea" class="landing_btn">HAVE AN IDEA?</button></a>
<a href="view-idea"><button type="button" name="btn_gotskills" class="landing_btn">GOT SKILLS?</button></a>
