
<form class="idea-form" action="/new-idea" method="POST">
  <label for="form-name" class="form__label text">First name: </label>
  <input id="form-name" type="text" name="firstname" class="idea-form__name" placeholder="Type your firstname" aria-label="Type your firstname"></input>
  <label for="form-email" class="form__label text">Your email: </label>
  <input id="form-email" type="email" name="email" class="idea-form__email" placeholder="Type your email address" aria-label="Type your email address"></input>
  <label for="form-idea" class="form__label text">Your idea: </label>
  <input id="form-idea" type="text" name="ideatitle" class="idea-form__ideatitle" placeholder="Your idea!" aria-label="name your idea"></input>
  <label for="form-ideadesc" class="form__label text">Tell us more! </label>
  <textarea id="form-ideadesc" rows="4" cols="25" name="ideadesc" class="idea-form__ideadesc" placeholder="A little bit more detail..." aria-label="describe your idea"></textarea>
<input type="submit" class="submit">
</form>
