<form class="idea-form" action="/new-idea" method="POST">
  <input type="text" name="firstname"></input>
  <input type="email" name="email"></input>
  <input type="text" name="ideatitle"></input>
  <textarea rows="4" cols="50" name="ideadesc"></textarea>
<input type="submit">
</form>
